{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Stock</th>
                <th>Shares</th>
                <th>Current Price</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(stock|length) %}
                <tr>
                    <td>{{ stock[i] }}</td>
                    <td>{{ shares[i] }}</td>
                    <td>{{ current_price[i] }}</td>
                    <td>{{ total_value[i] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="mt-3">
        <p>Cash: {{ cash }}</p>
        <p>Cash Balance: {{ balance }}</p>
    </div>
{% endblock %}
